#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
skipx
install
cdrom
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br'
# System language
lang pt_BR.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=Srv-Jiva

# Root password
rootpw --iscrypted $6$iozOm8ik8/yqrfVH$lC1JsU995ZvBlrxgkB2fqlKhpMT8VmDLS88vh3xbrZh3kZOlbIMVKvWlgxbxhLvB10vcyNAA10g.nFTZJBMaQ/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Sao_Paulo --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

# Accept Eula
eula --agreed

# Reboot afer installing
reboot --eject

%packages
@^minimal
@compat-libraries
@core
@development
chrony
kexec-tools

%end

%post --nochroot

hostnamectl set-hostname Srv-Jiva

# Altera /etc/resolv.conf - adiciona servidores DNS
cat > /mnt/sysimage/etc/resolv.conf << EOF1
search Srv-Jiva
nameserver 127.0.0.1
nameserver 127.0.0.2
EOF1

# Configura o /etc/hosts
/bin/echo -e "127.0.0.2 Srv-Jiva" >> /etc/hosts


%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
